$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
$opensans: "Open Sans", sans-serif;
$mono: "Ubuntu Mono", monospace;
$tajawal: "Tajawal", sans-serif;
$pcolor: #3d84b8;

.Hadis {
  .container {
    .start {
      h1 {
        font-family: $tajawal;
      }
    }
  }
}

svg text {
  font-family: $tajawal;
  letter-spacing: 2px;
  stroke: #fff;
  font-size: 50px;
  font-weight: 700;
  stroke-width: 1.3;
  animation: textAnimate 3s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: $pcolor;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: transparent;
  }
}

@media (max-width: 1200px) {
  .Hadis {
    .container {
      .About {
        display: flex;
        flex-direction: column;
        align-items: center;
        .about-hadis {
          margin-top: 20px;
        }
      }
    }
  }
}
