$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
$opensans: "Open Sans", sans-serif;
$mono: "Ubuntu Mono", monospace;
$tajawal: "Tajawal", sans-serif;
$pcolor: #3d84b8;

.about-hadis {
  padding: 10px;
  .content {
    color: rgba(255, 255, 255, 0.719);
  }
}
