$montserrat: "Montserrat", sans-serif;
$poppins: "Poppins", sans-serif;
$opensans: "Open Sans", sans-serif;
$mono: "Ubuntu Mono", monospace;
$tajawal: "Tajawal", sans-serif;



a {
  text-decoration: none;
}

.Header-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 0px 5px 0px;
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      img {
        width: 35%;
      }
    }
    &-text {
      .quote {
        font-family: $montserrat;
        padding: 0px 30px;
        font-weight: 700;
        margin-bottom: 15px;
        color: #fff;
        padding: 0;
        margin: 0px 0px 16px 0px;
      }
      .author {
        padding: 20px 0px;
        margin: 20px 0px;
        color: #3d85b893;
      }
    }
  }
}
